.loading{
    margin: 0px 100px;

}
.nect nav ul li a {
    margin-top: 20px;
    background-color:black ;
    font-size: 20px;
}
.nect nav ul li a:hover{
    background-color: gold;
    color: black;

}
form input button:hover{
    background-color: black;
    color: aliceblue;
}